<!--SITE FOOTER-->
<footer class="site-footer">
   <div class="container">
      <nav class="site-footer__nav">
         <ul class="site-footer__ul">
            <li class="site-footer__li">
               <a class="site-footer__link" href="about.html">О клинике</a>
            </li>
            <li class="site-footer__li">
               <a class="site-footer__link" href="cosmetic.html">Косметическая стоматология</a>
            </li>
            <li class="site-footer__li">
               <a class="site-footer__link" href="treatment.html">Лечение</a>
            </li>
            <li class="site-footer__li">
               <a class="site-footer__link" href="contacts.html">Контакты</a>
            </li>
         </ul>
      </nav>
      <section class="site-footer__middle">
         <img src="/img/logos/logoimg.svg" alt="logo" width="95" height="91">
         <h3>Швейцарская косметическая стоматология</h3>
         <div class="social-links">
            <a class="social-links__item" href="#">
               <img src="/img/icons/ffacebook.svg" alt="facebook icon">
            </a>
            <a class="social-links__item" href="#">
               <img src="/img/icons/ftelegram.svg" alt="facebook icon">
            </a>
            <a class="social-links__item" href="#">
               <img src="/img/icons/finstagram.svg" alt="facebook icon">
            </a>
            <a class="social-links__item" href="#">
               <img src="/img/icons/ftwitter.svg" alt="facebook icon">
            </a>
         </div>
      </section>
      <section class="site-footer__info">
         <ul class="site-footer__info__ul">
            <li class="site-footer__info__li">
               <a href="tel: +998711234567 ">+998 71 123-45-67</a>
            </li>
            <li class="site-footer__info__li">
               <a href="mailto: info@dental.com">info@dental.com</a>
            </li>
            <li class="site-footer__info__li">
               <a href="#">Узбекистан, г.Ташкент, ул. Бобур 45А дом.</a>
            </li>
         </ul>
      </section>
   </div>
   <div class="container">
      <div>2020 ©. Все права защищены.</div>
      <div>Сайт разработана в студи Pixer</div>
   </div>
</footer>

<!--JAVASCRIPT FILES-->
<script src="/scripts/jquery.js"></script>
<script src="/scripts/slick.js"></script>
<script src="/scripts/main.js"></script>
<script src="/scripts/sliders-settings.js"></script>
<script src="/scripts/doctors.js"></script>
</body>
</html>