.login-section {
   width: 525px;
   margin: 54px auto 230px;
   padding: 68px 80px 129px;
   background-color: #E5F7F8;

   h2 {
      margin-bottom: 15px;
      font-weight: 700;
      font-size: 28px;
      line-height: 30px;
      letter-spacing: 0.02em;
   }

   h2 + span {
      display: block;
      margin-bottom: 59px;
      font-weight: 400;
      font-size: 20px;
      line-height: 28px;
      letter-spacing: 0.02em;
   }
}

.login-form {
   input:placeholder-shown + label {
      cursor: text;
      max-width: 66.66%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      transform-origin: left bottom;
      transform: translate(0, 2.125rem) scale(1.5);
      font-weight: 400;
      font-size: 13.333px;
      line-height: 13.333px;
   }

   ::-webkit-input-placeholder {
      opacity: 0;
      transition: inherit;
   }

   input:focus::-webkit-input-placeholder {
      opacity: 1;
   }

   input:not(:placeholder-shown) + label, input:focus + label {
      transform: translate(0, 0) scale(1);
      cursor: pointer;
      font-weight: 400;
      font-size: 12px;
      line-height: 12px;
   }
}

.login-form__submit {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 230px;
   height: 56px;
   margin-bottom: 62px;
   background-color: $MAIN-LIGHT-BLUE;
   border: none;
   font-weight: 400;
   font-size: 20px;
   line-height: 20px;
   color: #FFFFFF;

   img {
      margin-right: 12px;
   }

   &:hover {
      background-color: lighten($MAIN-LIGHT-BLUE, 2);
   }
}

label, input {
   transition: all 0.2s;
   touch-action: manipulation;
}

.login-form__field {
   display: flex;
   flex-flow: column-reverse;

   input {
      width: 290px;
      padding: 15px 0;
      background-color: transparent;
      border: none;
      border-bottom: 1px solid rgba(86, 83, 163, 0.2);
      font-weight: 400;
      font-size: 20px;
      line-height: 20px;
      cursor: text;
      -webkit-appearance: none;
   }
}
.register-forgot {
   font-size: 20px;
   font-weight: 400;
   line-height: 20px;
   a {
      color: $MAIN-DARK-BLUE;

      &:last-child {
         color: $MAIN-LIGHT-BLUE;
      }
   }
}